<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bordercore AI</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/styles.css") }}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/onnxruntime-web/dist/ort.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@ricky0123/vad-web@0.0.7/dist/bundle.min.js"></script>
        {% if config.DEBUG %}
        <script type="module" src="https://{{ request.host.split(':')[0] }}:5173/@vite/client"></script>
        {% endif %}
    </head>
    <body class="m-3">
        <div id="app"></div>
        <script id="session" type="application/json">{{ session|tojson|safe }}</script>
        <script id="settings" type="application/json">{{ settings|tojson|safe }}</script>
        <div id="controlValue" class="d-none">{{ control_value }}</div>
        {% if config.DEBUG %}
        <script type="module" src="https://{{ request.host.split(':')[0] }}:5173/front-end/entries/chatbot.tsx"></script>
        {% else %}
        <script type="module" src="{{ url_for('static', filename=vite_js) }}"></script>
        {% endif %}
    </body>
</html>
